* {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 16px;
}

a {
  color: #252525;
  text-decoration: none;
}

ul {
  list-style: none; 
}

p {
  text-shadow: 1px 1px 1px pink;
}

.container {
  position: relative;
  max-width: 1200px;
  min-width: 280px;
  margin: 0 auto;
  padding: 16px;
}

.large-header {
  font-size: 105px;
  text-align: center;
}

.medium-header {
  font-size: 55px;
  text-align: center;
  margin: 20px 0;
  text-shadow: 1px 1px 2px pink;
}

.header {
  margin: 20px 0;
  font-weight: 300;
  font-size: 35px;
}

.article-header {
  margin: 20px 0;
  font-weight: 300;
  font-size: 35px;
  text-shadow: 1px 1px 2px pink;
}

.center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
}

.home-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-grid a{
  color: white;
  width:130px;
  height: 658px;
  transition:.5s;
}

.home-grid a:hover{
  transform: scale(1.1);
  z-index: 1;
}

.navbar {
  font-size: 14px;
  text-transform: uppercase;
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-links a {
  padding: 0 10px;
}

.two-column {
  display: flex;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 1200px;
  margin: 0 auto;
}

.panel-title {
  font-size:33px;
  text-shadow: 1px 1px 2px pink;
  margin: 10px 0;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0 0 20px -4px black;
}

.house-avatar {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  box-shadow: 0 0 18px black;
}

.info-list {
  margin-bottom: 30px;
  padding: 0;
  text-shadow: 1px 1px 2px pink;
}

.info-list li {
  max-width: 340px;
  list-style-type: none;
  font-size: 33px;
  margin: 20px 20px;
  padding: 0 20px;
  text-align: center;
}

.info-list div {
  font-size: 24px;
  font-weight: 300;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sidebar-list a {
  line-height: 25px;
}

.sidebar-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.contents li {
  font-size: 28px;
  margin-bottom: 30px;
  cursor: pointer;
  list-style-type: none;
}

.contents {
  margin: 20px;
  padding: 20px;
}

.contents p {
  line-height: 35px;
  font-size: 20px;
}

.contents-title {
  margin: 0;
  text-align: center;
  font-weight: 300;
  text-shadow: 1px 1px 2px pink;
}

.contents-date {
  font-size: 14px;
  padding: 0;
}

.btn-main {
  max-width: 210px;
  min-width: 150px;
  padding: 10px;
  border: 2px solid black;
  color: black;
  text-align: center;
  margin-bottom: 60px;
}

.btn-main:hover {
  cursor: pointer;
  font-weight: 500;
}

.championships {
  display: flex;
  margin: 0;
  padding: 0;
}

.championships li {
  list-style-type: none;
  margin: 0 10px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  display: none;
}

@media (max-width: 680px) {
  .container {
    padding: 8px;
  }

  .large-header {
    font-size: 60px;
  }

  .medium-header {
    font-size: 40px;
    text-shadow: 1px 1px 2px pink;
  }

  .header {
    font-size: 25px;
    margin: 10px 0;
  }

  .avatar {
    width: 125px;
    height: 125px;
    border-radius: 62.5px;
  }

  .house-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  .home-grid {
    flex-direction: column;
    align-items: center;
  }

  .info-list li {
    font-size: 20px;
    margin: 20px 10px;
    padding: 0 10px;
  }

  .info-list div {
    font-size: 16px;
  }
  .championships li {
    font-size: 12px;
  }

  .sidebar-list {
    font-size: 12px;
  }

  .contents {
    padding: 5px;
    margin: 5px;
  }
} 